<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .form-control:focus {
            outline: none;
            border-color: #1e3c72;
        }

        .form-label {
            font-weight: bold;
            font-style: italic;
            color: black;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header"
             style="background-color: #1e3c72; color: white; font-weight: bold; text-align: center; padding: 10px; border-radius: 5px;">
            Update Sculpture
        </div>
        <div class="card-body">
            <form th:href="@{'/sculptures/' + ${sculpture.getId()} + '/update'}" th:object="${sculpture}" method="post">
                <div class="mb-3">
                    <label for="nm" class="form-label">Sculpture Name</label>
                    <input type="text" class="form-control" id="nm" aria-describedby="fnHelp" th:field="*{name}" th:value="${sculpture.getName()}">
                </div>
                <div class="mb-3">
                    <label for="mos" class="form-label">Sculpture Material</label>
                    <input type="text" class="form-control" id="mos" th:field="*{materialOfSculpture}" th:value="${sculpture.getMaterialOfSculpture()}">
                </div>
                <div class="mb-3">
                    <label for="as" class="form-label">Sculpture ArtStyle</label>
                    <input type="text" class="form-control" id="as" th:field="*{artisticStyle}" th:value="${sculpture.getArtisticStyle()}">
                </div>
                <div class="mb-3">
                    <label for="yop" class="form-label">Publishing Year</label>
                    <input type="text" class="form-control" id="yop" th:field="*{yearOfPublishing}" th:value="${sculpture.getYearOfPublishing()}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
